*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: whisper;
    src: url("../fonts/ofont.ru_Miama Nueva.ttf");
}
@font-face {
    font-family: font2;
    src: url("../fonts/insight-melody.ttf");
}
@font-face{
    font-family: font3;
    src:url("../fonts/1926-font.otf")
}
@font-face {
    font-family: font4;
    src: url("../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
img{
    width: 100%;
    vertical-align: middle;
    height: 100%;
   
}

body{
    overflow-x: hidden;
    
}
.page{
    background-image:  url("../img/bgbirt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    width: 100%;
    display: flex;

    
}
 
.section1{
    background-image:  url("../img/birth_man.jpg");
    background-size:  35% 100vh;
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    width: 35%;
    display: flex;
    box-sizing: border-box;
    align-items: center;   
}
.img_boy{
    display: none;
}
.section2{
    width: 65%;
   padding: 40px 80px 40px;
   background-color:rgb(0,0,0,0.45);  
   box-sizing: border-box;
   height: 100%!important;
}
.friends{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px !important;
    font-family: whisper;
    color: #fff;
    background-color: rgb(45,77,6,0.2);
    border-radius: 8px;
    padding: 10px 0;
    box-sizing: border-box;
  
}
 
.text1{
    font-size: 22px;
    font-weight: 500;
    font-family: whisper;
    line-height: 2;
    color: #fff;
    font-weight: 600;
    text-align: justify;
    margin: 0;
}

.photo2{
    background-image:  url("../img/birth_man2.jpg");
    background-size: cover;
    width: 130px;
    height: 130px;
    margin-top: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border:5px solid rgb(0,0,0,0.45);  
}
.text3{
    font-size: 22px;
    font-family: font2;
    line-height: 2;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
    font-style: italic;
}
.cafe{
    font-size: 34px;
    font-family: whisper;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}
.address{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color:#fff;
    font-style: italic;
    margin: 0!important;
   
}
.address2{
    display: flex;
    text-decoration: none!important;
    color: #fff!important;
    font-weight: 600 ;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgb(0,0,0,0.45);  
    border: 1px solid;
}
.ds_center{
    display: flex;
    justify-content: center;
}
.address2:hover{
    background: #fff;
    color: #000!important;
}
.name{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 40px!important;
    font-family: whisper;
    letter-spacing: 5px;
    color:#fff;
    margin: 0!important;

}
.withlove{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    font-family: whisper;
    color:#fff;
    margin:40px 0 20px!important;
}

footer{
    display: flex;
    justify-content: center;
    padding-top:80px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
.site{
    text-decoration: none!important;
    color: #fff!important;
    font-family: font2;
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;
}
.logo {
    width: 70px;
    height: 70px;
    display: block;
    background-image: url("../img/icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  cursor: pointer;
}
.logo a{
    width: 100%;
}
.ds_block{
    display: block;
    width: 100%;
    height: 100%;
}
.birthday{
    font-size: 30px;
    font-weight: 600;
    font-style:italic ;
    color: #fff;
    text-align: center;
    font-family: whisper;
}

.lastpart{
    padding: 70px 0 50px;
}
.invitetext{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
label{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:  #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #000;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #fff;
}
.radio-part{
margin-bottom: 50px;
}
.guest{
    border:none;
    background:transparent;
    width: 100%;
    padding: 20px ;
    box-sizing: border-box;
    border-bottom: 1px solid #545252;
}
input:focus{
    outline: none;
    background-color: #FFF;
}

::-webkit-input-placeholder {  
    color: #fff!important;
    font-weight: 400;
  }
  .dsflex{
    width: 100%;
    justify-content: center;
    display: flex;
  }

@keyframes anim_height {
    from{
    top:100vh;
  }
    to{
        top:0;
    }
}
@media(min-width:1920px){
    .section1 {
        background-position: top 0px left 0;
    }
   .friends {
    font-size: 50px;
   }
   .birthday {
    font-size: 40px;
   }
   .photo2{
    width: 200px;
    height: 200px;
   }
   .text3 {
    font-size: 38px;
   }
   .cafe {
    font-size: 56px;
   }
   .address {
    font-size: 38px;
   }
   .address2 {
   height: 60px;
   font-size: 30px;
    width: 300px;
   }
   .withlove {
    font-size: 28px;
   }
   .name {
    font-size: 70px;
   }
   .logo {
   width: 100px;
   height: 100px;
}
.site{
    font-size: 28px;
}
.text1 {
    font-size: 38px;
}
.lastpart{
    padding: 50px 0;
}
.invitetext{
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
}
.mr40{
    margin-bottom: 40px;
}
.guest{
   font-size: 26px;
}
.invitetext{
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
}

.mr40{
    margin-bottom: 40px;
}

}
@media(min-width:1440px) and (max-width:1920px){
    .invitetext{
        color: #fff;
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
    }
    label{
        color: #fff;
        font-size: 24px;
        margin-left: 20px;
    }
    .mr40{
        margin-bottom: 40px;
    }
    .guest{
       font-size: 20px;
    }
}
@media(min-width:1024px) and (max-width:1144px){
    .section1 {
        width: 650px;
        background-size: 650px 100vh;
    }
    .section2 {
        width: 55%;
        padding: 40px;
    }
   .friends {
    font-size: 30px;
   }
   .birthday {
    font-size: 28px;
   }
   .text1 {
    font-size: 20px;
   }
   .text3 {
    font-size: 30px;
   }
   .cafe {
    font-size: 36px;
   }
   .address{
   font-size: 20px;
    }
    
   .withlove {
    font-size: 22px;
   }
   .name {
    font-size: 40px;
   }
   .logo {
   width: 70px;
   height: 70px;
}
.site{
    font-size: 18px;
}
.invitetext{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}
.mr40{
    margin-bottom: 40px;
}
.guest{
   font-size: 18px;
}
}

@media(min-width:920px) and (max-width:1024px){
    .section1 {
        width: 550px;
        background-size: 550px 100vh;
    }
    .section2 {
        width: 55%;
        padding: 40px;
    }
   .friends {
    font-size: 26px;
   }
   .birthday {
    font-size: 24px;
   }
   .text1 {
    font-size:16px;
   }
   .text3 {
    font-size: 24px;
    margin-top: 40px;
   }
   .photo2{
    width: 110px;
    height: 110px;
   }
   .cafe {
    font-size: 32px;
   }
   .address2{
    width: 110px;
    height: 30px;
    font-size: 12px;
   }
   .address{
   font-size: 20px;
    }
    
   .withlove {
    font-size: 18px;
   }
   .name {
    font-size: 36px;
   }
   .logo {
    width: 60px;
    height: 60px;
} 
footer{
    padding-top: 40px;
}
.site{
    font-size: 12px;
}
.invitetext{
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
}
.mr40{
    margin-bottom: 40px;
}
.guest{
   font-size:16px;
}
}

@media(min-width:768px) and (max-width:920px){
    .page{
        flex-direction: column;    
    }
    .section1 {
        display: none;
          
    }
  .img_boy{
     width: 100vw;
     height: 100vh;
     position: absolute;
     display: block;
  
  }
     .section2 {
      width: 100%;
      padding: 0px 30px;
      height: 100%;
      position: relative;
      top:100vh;
      animation:  anim_height 2s linear forwards;
      animation-delay: 1.5s;
      background-color: rgb(0, 0, 0, 0.85);
      padding-bottom: 30px;
      box-sizing: border-box;
   }
   .friends {
    font-size: 22px;
    margin-bottom: 20px!important;
   }
   .birthday {
    font-size: 18px;
    margin: 0 0 20px;
}
   .text1 {
    font-size:14px;
   }
   .text3 {
    font-size: 18px;
    margin-top: 40px;
   }
   .photo2{
    width: 100px;
    height: 100px;
    margin-top: 30px;
   }
   .cafe {
    font-size: 28px;
   }
   .address2{
    width: 110px;
    height: 30px;
    font-size: 12px;
   }
   .address{
   font-size: 15px;
    }
    
   .withlove {
    font-size: 18px;
   }
   .name {
    font-size: 36px;
   }
   .logo {
    width: 60px;
    height: 60px;
} 
footer{
    padding-top: 40px;
}
.site{
    font-size: 12px;
}
.invitetext{
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
}
.mr40{
    margin-bottom: 40px;
}
.guest{
   font-size: 14px;
}

}
@media(min-width:320px) and (max-width:768px){
    .page{
        flex-direction: column; 
    }
    .section1 {
       display: none;
         
   }
 .img_boy{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
 
 }
    .section2 {
     width: 100%;
     padding: 0px 30px;
     height: 100%;
     position: relative;
     top:100vh;
     animation:  anim_height 2s linear forwards;
     animation-delay: 1.5s;
     background-color: rgb(0, 0, 0, 0.85);
     padding-bottom: 30px;
     box-sizing: border-box;
  }
   .friends {
    font-size: 16px;
    margin-bottom: 20px!important;
   }
   .birthday {
    font-size: 16px;
    margin: 0 0 20px;
}
   .text1 {
    font-size:14px;
   }
   .text3 {
    font-size: 18px;
    margin-top: 40px;
   }
   .photo2{
    width: 100px;
    height: 100px;
    margin-top: 30px;
   }
   .cafe {
    font-size: 28px;
   }
   .address2{
    width: 110px;
    height: 30px;
    font-size: 12px;
   }
   .address{
   font-size: 15px;
    }
    
   .withlove {
    font-size: 18px;
   }
   .name {
    font-size: 36px;
   }
   .logo {
    width: 60px;
    height: 60px;
} 
footer{
    padding-top: 40px;
}
.site{
    font-size: 12px;
}
.invitetext{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    color: #fff;
    font-size: 14px;
    margin-left:10px;
}
.mr40{
    margin-bottom: 40px;
}
.guest{
   font-size:14px;
}
}
