*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: whisper;
    src: url("../fonts/ofont.ru_Miama Nueva.ttf");
}
@font-face {
    font-family: font2;
    src: url("../fonts/insight-melody.ttf");
}
@font-face{
    font-family: font3;
    src:url("../fonts/1926-font.otf")
}
.seallbtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.menu_bar{
    display: none;
}
.seallbtn button{
    outline: none!important;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
    font-size: 16px;
    background-color: #916f7c;
    color:#fff;
}
.seallbtn button:hover{
    opacity: 0.70;
}

img{
    width: 100%;
    vertical-align: middle;
    height: 100%;
   
}
.ds_end{
    display: flex;
    justify-content: flex-end;
}
.close{
    width: 30px;
    height: 30px;
}
.menu_hidden{
    width: 50%;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
   top:0;
   bottom:0;
   right: -50%;
   list-style: none;
   background-color: #dce5c9;
   z-index: 6000;
   transition: 0.5s all ease-in-out;

}
.menu_hidden li a{
    display: block;
    padding: 20px 0;
    font-size: 20px;
    text-decoration: none!important;
    color: rgb(48, 52, 0)!important;
    font-weight: 600;
}
.menu_hidden li a:hover{
   opacity: 70%;
}
#seall1{
    display: none;
}
#seall3{
    display: none;
}
.hidden1{
    display: none;
}
.hidden2{
    display: none;
}
.hidden3{
    display: none;
}
body{
    overflow-x: hidden;
}
.ds_block{
    display: block;
    width: 100%;
    height: 100%;
}
.navpart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: #dce5c9;
    height: 15vh;
    box-sizing: border-box;
    
}
header{
    width: 100%;
}

.logo_part{
    width: 70px;
    height: 70px;
    background-image: url("../img/icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_part{
    display: flex;
    width: 60%;
    list-style: none;
    justify-content: space-between;
    margin: 0;
}
.menu_part li a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none!important;
    color: rgb(48, 52, 0)!important;
    font-weight: 600;
}
.menu_part li a:hover{
   opacity: 70%;
}
.heading{
    font-family: font2;
    font-size: 90px;
    color: rgb(73,85,0);
  margin: 100px 0 0;
    padding: 50px;
    border: 4px solid #b28f32;
    box-sizing: border-box;

}
.section1{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
   align-items: center;
}
.flower_anim1{
    background-image: url("../img/bgg 1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 40%;
    background-position: top 0px right 0;
    animation: anim_opacity 3s  linear;
     animation-fill-mode: forwards ;
     animation-delay: 0.5s;
     opacity: 0;
     
    
}
.flower_anim2{
    background-image: url("../img/bgg 2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height:400px;
    width: 40%;
    background-position:  top 0px left 0;
    animation: anim_opacity 3s  linear;
     animation-fill-mode: forwards ;
     animation-delay: 0.5s;
     opacity: 0;
     
}


.wedding{
    font-family: whisper;
    font-size: 50px;
    color: rgb(73, 85, 0);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 20px;
    box-sizing: border-box;    
    
}
.flower_img{
    width: 200px;
    height: 200px;
     
}
.display_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;

}
.invites_examples{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
    box-sizing: border-box;

    
}
.heading_part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.examples1{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    text-decoration:none!important;
    justify-content: center;
    align-items: center;
    
}
.w1{
    background-image:  url("../img/Group 4 (1).png");
}
.w2{
    background-image:  url("../img/Group 8.png");
}
.w3{
    background-image:  url("../img/Group 6.png");
}
.examples2{
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:   center;
    display: flex;
    text-decoration:none!important;
    justify-content: center;
    align-items: center;
    
}
.b1{
    background-image: url("../img/Group 9.svg");
}
.b2{
    background-image: url("../img/Group 11.svg");
}
.b3{
    background-image: url("../img/Group 10.svg");
}
.b4{
    background-image: url("../img/Group 12.svg");
}
.examples3{
    width: 250px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:   center;
    display: flex;
    text-decoration:none!important;
    justify-content: center;
    align-items: center;
    
}
.g1{
    background-image: url("../img/Group 13.png");
}
.examples1:hover{
    box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
}
.examples2:hover{
    box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
}
.examples3:hover{
    box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
}

.baloon_img{
    width: 200px;
    height: 250px;
}
.price{
    margin: 20px 0 5px;
    font-size: 18px;
    color: #916f7c;
    font-family: font2;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    
}
.framename{
    margin:  0;
    font-size: 18px;
    color: #916f7c;
    text-align: center;
}

.section2{
    padding: 50px 60px;
    box-sizing: border-box;
    width: 100%;
}
.section3{
    padding: 50px 60px;
    box-sizing: border-box;
    width: 100%;
    
}
.section4{
    padding: 50px 60px;
    box-sizing: border-box;
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #dce5c9;;
    align-items: center;
}
.logo {
    width: 80px;
    height: 80px;
    display: block;
    background-image: url("../img/icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  cursor: pointer;
}
.logo a{
    width: 100%
}
.site{
    text-decoration: none!important;
    color: #fff!important;
    font-family: font2;
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}

.ds_block{
    display: block;
    width: 100%;
    height: 100%;
}
.iconpart{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.iconbox{
    width: 25px;
    height: 25px;
}
.iconbox:hover{
    opacity: 0.80;
}

@keyframes anim_opacity {
     0%{
          opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
 

@media(min-width:1920px){
    .logo_part{
        width: 100px;
        height: 100px;
    }
    .heading {
        font-size: 130px;
    }
    .menu_part li a {
        font-size: 34px;
    }
    .iconbox {
        width: 40px;
        height: 40px;
    }
    .iconpart {
        width: 170px;
    }

    .flower_anim1{
        height: 700px;
    }
    .flower_anim2{
        height:700px;
    }
    
    .examples1 {
        width: 500px;
        height: 500px;
    }
    .examples2 {
        width: 500px;
        height: 500px;
    }
    .examples3 {
        width: 500px;
        height: 500px;
    }
    .price {
        font-size: 28px;
    }
    .framename {
        font-size: 25px;
    }
   

    .flower_img {
        width: 250px;
        height: 250px;
    }

    .baloon_img {
        width: 280px;
        height: 330px;
    }
    .section2 {
        padding: 50px 100px;
    }
    .section3 {
        padding: 50px 100px;
    }
    .section4 {
        padding: 50px 100px;
    }
    .seallbtn button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .site {
        font-size: 26px;
}
}

@media(min-width:1660px) and (max-width:1920px){
    .logo_part{
        width: 100px;
        height: 100px;
    }
    .heading {
        font-size: 100px;
    }
    .menu_part li a {
        font-size: 26px;
    }
    .iconbox {
        width: 40px;
        height: 40px;
    }
    .iconpart {
        width: 170px;
    }
    
    .flower_anim1{
        height: 600px;
    }
    .flower_anim2{
        height:600px;
    }
    .examples1 {
        width: 400px;
        height: 400px;
    }
    .examples2 {
        width: 450px;
        height: 450px;
    }
    .examples3 {
        width: 400px;
        height: 400px;
    }
    .price {
        font-size: 24px;
    }
    .framename {
        font-size: 22px;
    }
   
 
    .flower_img {
        width: 250px;
        height: 250px;
    }

    .baloon_img {
        width: 280px;
        height: 290px;
    }
    .section2 {
        padding: 50px 100px;
    }
    .section3 {
        padding: 50px 100px;
    }
    .section4 {
        padding: 50px 100px;
    }
    .seallbtn button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .site {
        font-size: 26px;
}
}


@media(min-width:1440px) and (max-width:1660px){
    .logo_part{
        width: 100px;
        height: 100px;
    }
    .heading {
        font-size: 100px;
    }
    .menu_part li a {
        font-size: 26px;
    }
    .iconbox {
        width: 40px;
        height: 40px;
    }
    .iconpart {
        width: 170px;
    }
    .flower_anim1{
        height: 500px;
        }
       .flower_anim2{
         height:500px;
         background-position: top -8px left 0;
       }
       .examples1 {
        width:360px;
        height: 360px;
      }
 
    .examples2 {
        width: 350px;
        height: 350px;
    } 
    .examples3 {
        width:360px;
        height: 360px;
      }
   
    .flower_img {
        width: 250px;
        height: 250px;
    }
 
    .baloon_img {
        width: 230px;
        height: 290px;
    }
    .section2 {
        padding: 50px 60px;
    }
    .section3 {
        padding: 50px 60px;
    }
    .section4 {
        padding: 50px 60px;
    }
    .seallbtn button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .site {
        font-size: 26px;
}
}
@media(min-width:1024px) and (max-width:1144px){
    .logo_part{
        width: 80px;
        height: 80px;
    }
    .heading {
        font-size: 80px;
        margin-top: 80px;
    }
    .menu_part li a {
        font-size: 18px;
    }
    .iconbox {
        width: 30px;
        height: 30px;
    }
    .iconpart {
        width: 120px;
    }
    .flower_anim1{
        height: 500px;
        }
       .flower_anim2{
         height:500px;
         background-position: top 20px left 0;
       }
 
    .wedding{
        font-size: 34px;
    }
   
   
    .examples1 {
        width: 280px;
        height: 280px;
    }
    .examples2 {
        width: 260px;
        height: 260px;
    }

   .examples3 {
    width: 280px;
    height: 280px;
 }

 .price{
    font-size: 16px;
 }
 .framename {
    font-size: 14px;
 }
    .flower_img {
        width: 200px;
        height: 200px;
    }
    .baloon_img {
        width: 175px;
        height: 190px;
    }

    .section2 {
        padding: 50px 60px;
    }
    .section3 {
        padding: 50px 60px;
    }
    .section4 {
        padding: 50px 60px;
    }
    .seallbtn button {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    .site {
        font-size: 18px;
        margin-bottom: 5px;
}

}

@media(min-width:920px) and (max-width:1024px){
    .menu_bar{
        display: block;
        width: 30px;
        height: 30px;
    }
    .menu_part{
        display: none;
    }
    .logo_part{
        width: 60px;
        height: 60px;
    }
    .heading {
        font-size: 50px;
        margin-top: 30px;
    }
 
    .iconbox {
        width: 30px;
        height: 30px;
    }
    .iconpart {
        width: 30%;
    }
    .flower_anim1{
        height:400px;
 }
       .flower_anim2{
         height:380px;
         background-position: top 0px left 0;
   }
    .wedding{
        font-size: 34px;
    }
   

    .examples1 {
        width: 250px;
        height: 250px;
    }
    .examples2 {
        width: 240px;
        height: 240px;
    }
  .examples3 {
    width: 250px;
    height: 250px;
  }

   .price{
    font-size: 14px;
   }
  .framename {
    font-size: 12px;
   }
    .flower_img {
        width: 200px;
        height: 200px;
    }
    .baloon_img {
        width: 160px;
        height: 160px;
    }

    .section2 {
        padding: 50px 60px;
    }
    .section3 {
        padding: 50px 60px;
    }
    .section4 {
        padding: 50px 60px;
    }
    .seallbtn button {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .site {
        font-size: 18px;
}
   .price_mrg{
    margin-top: 0px;
}

}


@media(min-width:768px) and (max-width:920px){
    .menu_bar{
        display: block;
        width: 25px;
        height: 25px;
    }
    .menu_part{
        display: none;
    }
    .logo_part{
        width: 50px;
        height: 50px;
    }
    .heading {
        font-size: 40px;
        margin-top: 50px;
    }
 
    .iconbox {
        width: 25px;
        height: 25px;
    }
    .iconpart {
        width: 30%;
    }
    .flower_anim1{
        height:300px;
    } 
       .flower_anim2{
         height:280px;
         background-position: top 0px left 0;
   }
    .wedding{
        font-size: 24px;
        padding: 20px 0 20px;
    }
   

    .examples1 {
        width: 200px;
        height: 200px;
    }
    .examples2 {
        width: 170px;
        height: 200px;
    }
 .examples3 {
    width: 200px;
    height: 200px;
}

 .price{
    font-size: 12px;
 }
 .framename {
    font-size: 11px;
 }
    .flower_img {
        width: 160px;
        height: 160px;
    }
    .baloon_img {
        width: 115px;
        height: 130px;
    }

    .section2 {
        padding: 50px 40px;
    }
    .section3 {
        padding: 50px 40px;
    }
    .section4 {
        padding: 50px 40px;
    }
    .seallbtn button {
        width: 100px;
        height: 26px;
        font-size: 10px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .site {
        font-size: 14px;
        margin-bottom: 10px;
}
.invites_examples {
    padding-top: 40px;
}
.price_mrg{
    margin-top: 0px;
}
footer{
    padding-top: 10px;
}

}


@media(min-width:320px) and (max-width:768px){

    .navpart {
        padding: 10px 15px;
    }
    .menu_bar{
        display: block;
        width: 20px;
        height: 20px;
    }
    .menu_part{
        display: none;
    }
    .logo_part{
        width: 50px;
        height: 50px;
    }
    .heading {
        font-size: 40px;
        padding: 15px;
       margin-top: 0;
    }
    .iconbox {
        width: 20px;
        height: 20px;
    }
    .iconpart {
        width: 45%;
    }
    .flower_anim1{
        height:300px;
        background-position: top 40% right -15px;
       
    } 
       .flower_anim2{
         height:280px;
         background-position: top 40% left -15px;
   }
    .wedding{
        font-size: 20px;
        padding: 20px 0 20px;
    }
    .examples2 {
        width: 280px;
        height:280px;
    }

    .examples1 {
        width: 280px;
        height:280px;
       
    }
 
  .examples3 {
    width: 280px;
        height:280px;
  }

 .price{
    font-size: 12px;
  }
   .framename {
    font-size: 11px;
    }
    .flower_img {
        width: 160px;
        height: 160px;
    }
    .baloon_img {
        width: 115px;
        height: 130px;
    }
    .section2 {
        padding:30px 10px 0;
    }
    .section3 {
        padding:  0 10px 30px;
    }
    .section4 {
        padding: 30px;
    }
    .seallbtn button {
        width: 100px;
        height: 26px;
        font-size: 10px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .site {
        font-size: 14px;
        margin-bottom: 10px;
      }
    .invites_examples {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
   }
   .display_column{
    width: 100%;
    margin-bottom: 30px;
   }
   .seallbtn{
    margin-top: 20px;
   }
   .other_heading{
   padding-bottom: 0;
    line-height: 1.75;
   }
}
@media(min-width:400px) and (max-width:768px){
    .flower_anim1{
        background-position: top 40% right 0px;
    }
    .flower_anim2{
        background-position: top 40% left 0px;
    }
    .examples1 {
        width: 320px;
        height:320px;
       
    }
    .examples2 {
        width: 320px;
        height:320px;
    }
    .examples3 {
        width: 320px;
        height:320px;
       
    }
}
